go 1.21.6

use (
	./ArchiveFiles
	./ArchiveFiles/ZipDir
	./CronJob
	./DLLSideLoading
	./DLLs
	./DefEnv
	./Eicar
	./EncryptDecryptDirRecursive
	./EncryptDecryptDirRecursive/Decrypt
	./EncryptDecryptDirRecursive/Encrypt
	./EncryptDecryptDirRecursivePartially
	./EncryptDecryptDirRecursivePartially/Decrypt
	./EncryptDecryptDirRecursivePartially/Encrypt
	./FileObfuscation
	./GetSysInfo
	./GetSysInfo/GetInfo
	./MaliciousPayloadDownload
	./OSCredDump
	./PrivEsc
	./ProHoll32
	./ProHoll64
	./ProHoll64/mem
	./ProHoll64/processToHollow
	./RanNote
	./RegKeys
	./RegKeys/showMessage
	./RevSh
	./SecureDeleteFiles
	./SecureDeleteFiles/SecureDeleteFile
	./ServiceCreation
	./StartupFolderNewFile
	./StartupFolderNewFile/ShowBox
	./UploadFiles
	./UploadFiles/mega
	./helpers
	./main
	./mainAdmin
)
